# Salary assignment
------------
## Umuzi assignment: Predicting salaries differences
------------
### Johan Khanye(JoJo).

In [1]:
#importing cell
import pandas as pd
import matplotlib.pyplot as plot
import numpy as np
import scipy as sc
from scipy import stats

In [2]:
#read/import our CSV file via pandas.

spread = pd.read_csv("salary.csv")

### Question 1- a.
* We have **514 returns/respondents** from the survey, We have **one unspecified(NaN) insert** in our data which is _(row 208, column 0)_ and there are **no blank/empty spaces**, unanswered questions in our data.

In [3]:
#To find out the number of respondents in our dataframe 'salary' 
print(str(len(spread)) + ' Respondents')

514 Respondents

In [4]:
#To find out which column&row in our dataframe is undefined;
missing = np.where(pd.isnull(spread)) 
print(missing)

(array([208], dtype=int64), array([0], dtype=int64))

In [5]:
#To find out which column&row in our dataframe is missing/blank space;
blank = np.where(spread.applymap(lambda x: x == ''))
print(blank)

(array([], dtype=int64), array([], dtype=int64))

### Question 1-b.
* The Lowest recorded income in our dataframe is **R96 156.00** and the highest recorded salary is **R29 000.00**.

In [6]:
#To find out largest and smallest pay checks
salary = spread['?salary']
print("Highest salary in our dataframe is: R"+str(max(salary)))
print("Lowest salary in our dataframe is: R"+str(min(salary)))

Highest salary in our dataframe is: R96156.0
Lowest salary in our dataframe is: R29000.0

### Question 1-c.
-----------

* The mean salary of the sample is **R50863.22009783625** and I calculate my Standard Error binary, manually and using scipy, my **Stardard error(SE) using _scipy_ is  _NaN_** and **The SE manually is _558.9715980665014_.**

In [10]:
#To find the mean we'll use the numpy callable function **mean()**.
mean=np.mean(salary)
print("Mean/Average salary : R"+str(mean))

Mean/Average salary : R50863.22009783625

In [11]:
#To calculate our SE, because our dataframe consists of a **NaN** we'll do it manually and with the scip function **sem**
#Calculating the SE manually.
s = np.std(salary)
SE= s / (np.sqrt( 514 ))
print("Standard Error(manually) is: "+str(SE))

Standard Error(manually) is: 558.9715980665014

In [22]:
#Calculating the SE with scipy.
SE_sc = stats.sem(salary)
SE_sc
print("Standard Error(Scipy) is: "+str(SE_sc))

Standard Error(Scipy) is: nan

### Question 1-d.
----------
#### Years Worked Standard deviation.
-----------
*  The standard deviation of the years worked is **_9.435503224576872_**, this indicates that the data points(years worked) are **spread/different out over a wider range of years**.

In [13]:
#we'll calculate the std deviation by 
yearsw = spread['yearsworked']
workstd = np.std(yearsw)
print(" Standard Deviation: "+str(workstd))

 Standard Deviation: 9.435503224576872

### Question 1-e.
----------
#### Median Salary.
---------

* The median alary for our data is the **_NaN_** value. The median for the data that does not contain the **_Nan_** value is **_R50096.0c_**.

In [16]:
#To calculate the sample's median salary we'll use the numpy's median method.
salarymedian = np.median(salary)
salarymedian

C:\Users\user\Anaconda3\lib\site-packages\numpy\lib\function_base.py:4033: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)

nan

in the case that the Nan value causes problems in our data let's drop it and calculate the median again.

In [19]:
salaryfree = salary.drop(salary.index[208])
#to check whether *Nan* is gone
nangone = np.where(pd.isnull(salaryfree)) 
print(nangone)
#nan is gone, we calculate the median.
salfrmed = np.median(salaryfree)
print("The median is: R"+str(salfrmed)+"c")

(array([], dtype=int64),)
The median is: R50096.0c

### Question 1-f.
--------------------
#### Interquartile range
------------

* The interquartile range of the salaries is **_20345.0_**, this means that the within the lower quartile and the upper-quartile are not that far apart from the median.

In [21]:
#to calculate the IQT ou salaries we'll use scipy's method *iqr
salaryiqr = sc.stats.iqr(salaryfree)
print("The inter-quartile range is: "+str(salaryiqr))

The inter-quartile range is: 20345.0

### Question 1-G.
---------
#### Gender
------------
* The Survey was conducted on 386 Males and 128 Females summing the Total to 514 employees, this shows that males are more likely to become CEOs than females are. Males are 2 times more likely to be employed.

In [26]:
#To calculate the number of males and females
gender = spread[['male']] # 
gender
males = pd.value_counts(spread['male'].values)[1]
females = pd.value_counts(spread['male'].values)[0]
print('There are: '+str(females))
print('There are: '+str(males))

There are: 128
There are: 386

In [40]:
#to visualise the findings in a table we'll use a Dataframe
#Create lists to include in dictionary.
gender = ['Male', 'Females']
number = [males, females]
#Create a dictionary
genderd = {"Gender":gender, "Number":number}
table = pd.DataFrame(genderd)
table

    Gender  Number
0     Male     386
1  Females     128

### Question 1-H.
----------
#### Professional rank.
--------------
* The number of Females who are full fledged proffesionals is **_19 personel of 128_**, which is **_9.375%_** of the total number of females.
* The number of Males who are full fledged proffesionals is **_192 personel of 386_**, which is **_49.74%_** of the total number of females.
* Total number of professionals is: 211(Males and Females)
* Females make up approx. **_9%_** of the total number of profesional, whilst Males make up the remaining **_91%_** of the Professionals.

In [72]:
#we'll extract the whole female dataframe from spread then extract the female pros.
#To extract the female dataframe
femaled  = spread[spread.male == 0]
#Female extraction complete!!!, what's the highest rank the dataframe???
highposition = spread['position'].values
#From our method above 3 is the highest position.
# calculate position 3 in the female dataframe.
proffemmes = femaled[femaled.position == 3]
#print analysis.
fl = len(proffemmes)
print("There are: "+str(len(proffemmes))+" Fully Professional Females")
#Calculate percentage
pf = (12/128)*100
print("Percentage of professional women is: "+str(p)+"%")

There are: 19 Fully Professional Females
Percentage of professional women is: 49.740932642487046%

In [71]:
maled  = spread[spread.male == 1]
#extract male proffesionals from dataFrame
profmale = maled[maled.position == 3]
#print analysis.
ml = len(profmale)
print("There are: "+str(len(profmale))+" Fully Professional Males")
#Calculate percentage
pm = (192/386)*100
print("Percentage of professional women is: "+str(p)+"%")

There are: 192 Fully Professional Males
Percentage of professional women is: 49.740932642487046%

In [80]:
#Calculate propotion of male and female.
tl = ml+fl
#Total number of Proffesionals
print("Total number of professionals is: "+str(tl))
#Propotion
mp = (ml/tl)*100
fp = (fl/tl)*100
#Print propotion
print("Females make up "+str(fp)+"% of the profesional, whilst males make up "+str(mp)+"% of the professionals")

Total number of professionals is: 211
Females make up 9.004739336492891% of the profesional, whilst males make up 90.99526066350711% of the professionals

### Question 1-I.
----------
#### Histogram of Salary
-----------
* Below is the histogram of the Salary Variables

In [129]:
#To plot histogram we'll need two lists.
#1st list is of salary and 2nd list is of amount of people who earn that amount.

### Question 1-J.
---------------
#### Bargraph of avrage salaries.
----------------
*

In [133]:
#get male data withou nan value.
malesa = maled['?salary']
maleV = malesa.drop(malesa.index[208])
#Calculate average of Male salaries.
maleV = np.average(maleV) #this is average male salaries

#calculate average of female salaries.
femmesa = femaled["?salary"]
femmeV = np.average(femmesa) #this is average female salaries.

In [110]:
#printing our dataframe
spread

,?salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
0,53000.00000,0,0,0,1.17,1,0,1,1,3,0
1,58000.00000,1,0,0,1.24,1,0,1,1,2,0
2,45500.00000,0,0,0,1.21,1,0,1,1,3,2
3,35782.00000,0,2,1,0.99,1,0,1,1,4,1
4,34731.00000,0,2,2,0.91,1,0,1,1,4,1
5,56000.00000,1,0,0,1.19,1,0,1,1,1,0
6,61008.00000,0,2,2,1.33,1,0,1,1,2,0
7,39986.00000,0,2,0,0.99,1,0,1,1,4,0
8,36308.00000,0,2,1,0.85,1,0,1,1,1,1
9,55000.00000,0,0,0,1.23,1,0,1,1,1,1
10,55227.00000,0,3,3,1.23,1,0,1,1,1,1
11,55227.00000,0,3,3,1.23,1,0,1,1,2,1
12,33680.00000,0,3,1,1.05,1,0,1,1,4,1
13,61008.00000,0,3,3,1.24,1,0,1,1,4,1
14,37000.00000,3,0,0,0.99,1,0,1,1,1,0
15,46292.00000,0,2,2,1.14,1,0,1,1,2,0
16,33680.00000,0,2,1,0.85,1,0,1,1,3,0
17,39754.00000,0,1,0,0.88,1,0,1,1,3,2
18,34000.00000,0,3,3,0.73,1,0,1,1,3,2
19,42614.00000,0,2,2,0.88,1,0,1,1,2,0
20,55121.00000,2,1,1,1.18,1,0,1,1,2,0
21,32000.00000,3,0,0,0.91,1,0,1,1,3,0
22,34731.00000,1,1,1,0.85,1,0,1,1,4,3
23,62059.00000,0,3,3,1.17,1,0,1,1,1,0
24,61008.00000,0,2,2,1.33,1,0,1,1,2,1
25,33680.00000,0,3,3,0.88,1,0,1,1,4,1
26,35206.00000,0,3,2,0.85,1,0,1,1,4,0
27,35257.00000,0,2,2,0.85,1,0,1,1,4,1
28,35782.00000,1,2,2,0.99,1,0,1,1,4,0
29,39000.00000,4,0,0,1.22,1,0,1,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...
484,42813.00000,6,10,7,0.85,1,0,2,0,2,47
485,50008.00000,0,18,10,0.80,1,0,2,0,1,47
486,52773.00000,0,28,14,0.88,1,0,2,0,1,48
487,34997.00000,0,18,12,0.80,1,0,2,0,3,49
488,43921.00000,0,17,11,0.85,1,0,2,0,3,49
489,38935.00000,15,3,3,0.91,1,0,1,0,4,49
490,51640.00000,4,13,5,0.99,1,0,3,0,4,49
491,60678.00000,5,13,0,1.21,1,0,3,0,1,50
492,63660.85156,17,1,1,0.92,1,1,3,0,2,50
493,44410.85547,7,12,10,0.72,1,0,2,0,3,51
494,50729.00000,0,20,7,0.85,1,0,3,0,2,52
495,58530.00000,0,19,9,0.93,1,0,3,0,2,52
496,41063.00000,1,18,18,0.81,1,0,1,0,4,52
497,48681.00000,0,19,12,1.05,1,0,2,0,4,52
498,52446.00000,5,14,6,0.81,1,0,3,0,4,52
499,45669.00000,2,18,5,0.73,1,0,2,0,3,56
500,45047.00000,0,20,20,0.83,1,0,1,0,1,56
501,50280.00000,0,22,15,0.85,1,0,2,0,2,58
502,48765.00000,10,11,4,0.94,1,0,3,0,4,58
503,36308.00000,16,5,5,0.86,1,0,1,0,1,60
504,64770.00000,0,25,15,1.02,1,0,3,0,1,62
505,52009.00000,0,23,1,0.85,1,0,3,0,2,63
506,46843.00000,0,23,13,0.81,1,0,2,0,3,65
507,58766.75781,0,23,12,0.99,1,1,3,0,2,67
508,52395.00000,5,19,7,0.86,1,0,3,0,4,69
509,45906.00000,6,17,11,0.92,1,0,2,0,2,70
510,60402.00000,6,19,7,0.86,1,0,3,0,1,72
511,53187.00000,19,7,6,0.78,1,0,3,0,4,76
512,56542.00000,8,20,10,0.78,1,0,3,0,2,78
513,52662.00000,13,25,11,0.78,1,0,3,0,1,112

SyntaxError: invalid syntax (<ipython-input-88-77152fcaf508>, line 2)